choice
	prompt "Platform Setup"
config OS_ARCH_ARMV7_M
	bool "ARMV7_M"
config OS_ARCH_X86_64
	bool "X86_64"
config OS_ARCH_RISCV64
	bool "RISCV64"
config OS_ARCH_ARMV7_R
	bool "ARMV7_R"
endchoice

source "arch/cpu/riscv64/Kconfig"
source "arch/cpu/armv7-m/Kconfig"
source "arch/cpu/x86_64/Kconfig"
source "arch/cpu/armv7-r/Kconfig"
