menu "ARM7-M Sepecfic Configuration"

depends on OS_ARCH_ARMV7_R

config INTERNAL_OS_D9_SECURE
	bool
	select INTERNAL_OS_BYTE_ORDER_LE

choice
	prompt "Cpu Type"

config INTERNAL_OS_PLATFORM_CORTEX_R5
	bool "CORTEX_R5"
	select INTERNAL_OS_D9_SECURE

endchoice

endmenu
